$primary: #f55d3e;
$secondary: #FFFF00;
$white: #fff;
$light-blue: #A2CDE2;

.progression-container {
  width: 500px;
  background-color: white;
  padding: 60px 20px 60px 20px;
  margin: 40px 0px 20px 0px;
  border: 3px #A2CDE2 solid;
  border-radius: 5px;
}

.build-progression-button {
  background-color: $primary;
  width: 50%;
  height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 60px;
  transform: translate(50%);
}



.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 20px;
  width: 80%;
  background-color: #EBEBEB;
  transform: translate(10%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $light-blue;
  outline: 0;
  font-size: 1.5rem;
  color: #3d95bf;
  text-align: center;
  font-weight: bold;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $light-blue;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}

.color-1 {
  color: $primary;
}
